.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.gallery__wrap-photo {
    /*width: 32.3333333%;*/
    position: relative;
    width: 376px;
    /*height: 376px;*/
    overflow: hidden;
    margin-bottom: 20px;
}

.gallery__photo {
    padding-top: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__photo:hover {
    transform: scale(1.1);
}

.gallery__photo1 {
    background-image: url('../img/gallery/1.jpg');
}

.gallery__photo2 {
    background-image: url('../img/gallery/2.jpg');
}

.gallery__photo3 {
    background-image: url('../img/gallery/3.jpg');
}

.gallery__photo4 {
    background-image: url('../img/gallery/4.jpg');
}

.gallery__photo5 {
    background-image: url('../img/gallery/5.jpg');
}

.gallery__photo6 {
    background-image: url('../img/gallery/6.jpg');
}

.gallery__photo7 {
    background-image: url('../img/gallery/7.jpg');
}

.gallery__photo8 {
    background-image: url('../img/gallery/8.jpg');
}

.gallery__photo9 {
    background-image: url('../img/gallery/9.jpg');
}


.promo-video {
    margin-top: 130px;
    margin-bottom: 250px;
}

.promo-video__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.promo-video__wrap {
    position: relative;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

#player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.promo-video__video {
    position: relative;
    height: 582px;
    background-color: #2C2C2C;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    margin-top: 128px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/gallery/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.promo-video__border {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #F5F5ED;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.promo-video__border1 {
    top: -70px;
    left: -70px;
}

.promo-video__border2 {
    bottom: -70px;
    right: -70px;
}

.promo-video__video-play {
    position: relative;
    z-index: 22;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: content-box;
}

.promo-video__video-play:hover {
    padding: 14px;
    background-color: #ED3551;
    border: 2px solid transparent;
}

.promo-video__video-play::before {
    position: absolute;
    content: '';
    width: 38px;
    height: 38px;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translateX(-16px) translateY(-19px);
}

.promo-video__video-play::after {
    position: absolute;
    content: '';
    width: 111px;
    height: 111px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #ffffff;
    transition: 0.3s;
}

.promo-video__video-play:hover:after {
    border: 2px solid transparent;
}

.promo-video__btn-play-off {
    opacity: 0;
    pointer-events: none;
}

.text-about {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    white-space: pre-line;
}

.text-about > span {
    font-size: 20px;
}

.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.questions__close {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 66px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    background-color: #FDECE8;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.questions__close:hover {
    background-color: #f5f5f8;
}

.questions__close::after {
    position: absolute;
    content: '';
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 21px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    transition: 0.3s;
    transform: translateY(-50%) rotate(45deg);
}

.questions__open::after {
    transform: translateY(-50%) rotate(180deg);
}

.questions__body {
    background-color: #FAFAFB;
    overflow: hidden;
    max-width: 680px;
    transition: 0.5s;
    margin-bottom: 20px;
    padding-bottom: 20px;
    transition-property: height;
}

.questions__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
}

.questions__title:hover {
    background-color: #f5f5f8;
}

.questions__title > span {
    display: flex;
    padding: 22px 0;
    font-weight: 500;
    margin-right: 14px;
}

.questions__btn {
    position: relative;
    display: inline-block;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.questions__btn_open {
    border: 1px solid transparent;
    background-size: auto;
    transform: rotate(0);
}

.questions__btn_close {
    border: 1px solid #000000;
    background-size: 18px;
    transform: rotate(45deg);
}

.questions__text {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}





@media screen and (max-width:1200px) {
    .promo-video__border1, .promo-video__border2 {
        display: none;
    }
}

@media screen and (max-width:940px) {
    .promo-video {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .promo-video__video {
        margin-top: 70px;
    }

    .questions__close {
        margin-top: 100px;
    }
}

@media screen and (max-width:640px) {
    .promo-video {
        margin-top: 80px;
    }

    .promo-video__video {
        margin-top: 50px;
        height: 360px;
    }

    .about-title {
        font-size: 28px;
        font-size: 28px;
        line-height: 34px;
    }

    .text-about > span {
        font-size: 18px;
    }

    .promo-video__video {
        background-position: center;
    }
}